<br/>
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#sms_help">Информация</a>
		</div>
		<div class="panel-body collapse" id="sms_help">
Модуль для снятия регистров со счетчика импульсов 
<a href="http://espmeteo.ru/espcounter">http://espmeteo.ru/espcounter</a>.

			
			</br>     </br>

	
		</div> </div> </div>


<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#nach">Инструкция по настройке счетчика ESPCounter</a>
		</div>
		<div class="panel-body collapse" id="nach">
		<p>

			
Инструкция по настройке счетчика ESPCounter
1. Установить в отверстие (см. рисунок 1) подходящий по диаметру
предмет: сверло, скрепка. Нажать микрокнопку, подать питание, удерживать
нажатой кнопку 5…15 секунд. Модуль загрузится и перейдет в safe mode
режим, станет точкой доступа (AP) незащищенной Wi-Fi сети WiFi-IoT

Рисунок 1
2. Выполнить подключение к сети WiFi-IoT, в адресной строке
браузера ввести IP-адрес модуля: 192.168.4.1, отобразится меню
следующего вида:
Рисунок 2
3. Перейти на вкладку Config: -> Main, выполнить настройку подключения
к собственной беспроводной сети, указав имя сети AP name и пароль AP pass:

Применить настройки нажатием кнопки Set.
4. Перейти на вкладку Config: -> Hardware установить следующие
значения (см. рисунок 4):
- для подключения датчика AM2302 или DS18B20: GPIO: 5
 - для подключения датчика давления BMP180: GPIO SDA: 2
 GPIO SCL: 0
Рисунок 4
Применить настройки нажатием кнопки Set.
5. Перейти на вкладку Config: -> 1-wire, нажать Clear & Scan list,
после чего должен появиться 16-знаковый уникальный идентификатор
датчика температуры (см. рисунок 5):
Рисунок 5
6. Для отправки показаний датчиков на сервисы: narodmon.ru,
Thingspeak.com и mqtt-сервер необходимо установить флажок на вкладке
Config: ->Servers (см. рисунок 6):
Рисунок 6
Применить настройки нажатием кнопки Set.
7. Для настройки работы счетчиков необходимо на вкладке Config: -
> Config counters (см. рисунок 7) выполнить следующие настройки:
- установить флажок Enable PCF8583 counter 1;
- в окне Counter 1 необходимо ввести текущее показание прибора, к
которому подключен ESPCounter (значение, от которого теперь будет
вестись подсчет );
- в окне Divider 1 необходимо указать цену деления (например, для
счетчика воды – это вес импульса, как правило 10 литров/имп., для
электросчетчика – это передаточное число имп./кВт*ч).
Аналогично настраиваем второй счетный канал ESPCounter.
			
Приведем пример:
Пусть в наличии имеется счетчик холодной воды с импульсным
выходом, к которому Вы подключили модуль ESPCounter. Его текущее
показание 17 м3, вес импульса - 10 литров/имп.
Для того, чтобы модуль ESPCounter осуществлял подсчет
потребленной воды в м3, необходимо в окне Counter 1 ввести значение 17,
а в окне Divider 1 значение 100.
8. После того, как все настройки выполнены, необходимо снять
питание с устройства, затем повторно его подать, убедиться в исправной
работе модуля, для чего в адресной строке браузера ввести IP-адрес
модуля, присвоенный dhcp-сервером Вашего роутера или записанный
вручную.
В появившемся меню отобразятся показания подключенных датчиков.
Более подробную информацию можно получить на сайте: http://espmeteo.ru
или по электронной почте info@espmeteo.ru
Взято с сайта разработчика модуля http://www.espmeteo.ru/dl_save.php?filename=manual_espcounter.pdf			
			
			
		</div> </div> </div>

		
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#cont">Контактная информация</a>
		</div>
		<div class="panel-body collapse" id="cont">
		<p>
<a href="https://github.com/directman66/majordomo-espcounter" target="_blank">Ссылка на репозиторий</a><br>
<a href="http://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=5943" target="_blank">Тема на форуме</a>.<br>

<br></br>


		</div> </div> </div>

<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#bax">Поддержать разработку</a>
		</div>
		<div class="panel-body collapse" id="bax">

[#inc rekv.html#]

		</div> </div> </div>

                                                                                                         
	
</div>


	
</div>

